.cart-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #8a2b06;
  padding: 15px 0;
  margin: 15px 0;
}

.cart-item h2 {
  margin-bottom: 10px;
  color: #363636;
}

.summary {
  width: 160px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.price {
  font-weight: bold;
  color: #8a2b06;
}

.amount {
  font-weight: bold;
  border: 1px solid #ccc;
  padding: 5px 10px;
  border-radius: 5px;
  color: #363636;
}

.actions {
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}

.cart-item button {
  font: inherit;
  font-weight: bold;
  font-size: 20px;
  color: #8a2b06;
  border: 1px solid #8a2b06;
  width: 50px;
  text-align: center;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 15px;
  margin: 5px;
}

.cart-item button:hover,
.cart-item button:active {
  background-color: #8a2b06;
  color: white;
}
